<div class="container">
    <h1>Welcome to Food Mood!</h1>
    <h4 class="mat-h4">Are you in the Mood for Food?</h4>
</div>

<div class="container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input id="textLocationInput" #locationInput matInput placeholder="Enter location">
        </mat-form-field>
        <button id="locationButton" mat-button color="primary"(click)="getCityId(locationInput.value)">Enter</button>
    </form>
    
    <div *ngIf="locationValid">
        <nav>
            <a mat-button [routerLink]="['/questions', cityId, latitude, longitude]">Start picking</a>
            <a mat-button routerLink="/homepage">I'm feeling lucky</a>
            
        </nav>
    </div>
</div>

