mat-card {
    width: 50vmax;
    justify-content: center;
}

mat-card-title {
    width: 100%;
}

.container {
    display: flex;
    
}

/* #question-card {
    display: flex;
    flex: auto;
    flex-grow: 1;
} */